<div class="middle">
    <div>
        <table>
            <% @current_cart.each do |key, value| %>
            <tr>
                <td><%= value[0] %></td>
                <td><%= value[1] %></td>
                <td width="5"></td>
                <td><%= number_to_currency value[2] %></td>
            </tr>
            <% end %>
        </table>
        <hr width="20%" align="left"/>
        <table>
          <tr>
            <td style="strong">Sub Total: </td>
            <td width="50"></td>
            <td><%= number_to_currency @sub_total %></td>
          </tr>
          <tr>
            <td>Sales Tax (<%= Order::CURRENT_SALES_TAX %>%): </td>
            <td width="50"></td>
            <td><%= number_to_currency @sales_tax %></td>
          </tr>
        </table>
        <hr width="20%" align="left"/>
        <table>
          <tr style="color:red;font-style:strong">
            <td>Grand Total:</td>
            <td width="75"></td>
            <td><%= number_to_currency @grand_total %></td>
          </tr>
        </table>
    </div>
    <div>
        <%= link_to 'Back to Storefront', root_path %>
    </div>
</div>