<div class="middle">
  <p id="pagetitle">Thank You for Your Order!</p>
  
  <%= render "order_confirmation" %>

  <h4>Your Contact Info</h4>
    <p>
      <strong>Name:</strong>
      <%= @customer.name %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @customer.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @customer.email %>
    </p>

    <p>
      <strong>Address1:</strong>
      <%= @customer.address1 %>
    </p>

    <p>
      <strong>Address2:</strong>
      <%= @customer.address2 %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @customer.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @customer.state %>
    </p>

    <p>
      <strong>Zip:</strong>
      <%= @customer.zip %>
    </p>

<%= link_to 'Edit', edit_customer_path(@customer) %>
</div>