<% if @cart.count <= 0 %>
	Your cart is empty.
<% else %>
	You have <%= pluralize(@cart.count, "item") %> in your cart. <br />
	<button id="toggle_cart_button">View</button>
	<div id="cart_detail_panel">
		<% @cart.each do |key, value| %>
			<div>
				<%= value [0] %> <%= value[1] %> @ <%= number_to_currency(value[2]) %> 
				<%= link_to "x", store_remove_cart_item_path(:product_id => key), :method => :delete %>
			</div>
		<% end %>
		<hr width="20%" align="left" />
		<div id="cart_total">
			Total: <%= number_to_currency(@sum) %>
			<%= link_to "Place Order", new_customer_path %>
		</div>
</div>
<% end %>