<table id="categorybar">
	<tr>
		<td><%= link_to "All Of It!", store_index_path %></td>
		<% @categories.each do |cat| %>
			<td><%= link_to cat.name, products_by_category_path(cat.name) %></td>
    <% end %>
  </tr>
</table>

<div style="position:relative;">
	<div class="cart-cart">
		<div id="cart_count">
			<%= render 'cartcount' %>
		</div>
	</div>
</div>

<div class="middle">
	<p>
  <div id="cart_msg">
		<%= render 'cart' %>
	</div>
  </p>

  <div>
	<% @products.each do  |product| %>
		<div class="product-bubble">
			<strong><%= product.name %></strong><br />
			<%= number_to_currency product.unit_price %><br />
			<%= link_to "Click for Description", product_description_path(:product_id => product.id) %><br />
			<div>
				<input type="text" class="quantity" placeholder="Enter Qty." size="7" />
	<!-- <input type="hidden" class="product-id" value="<%= product.id %>" /> -->
				<button class="add-to-cart-button" 
				data-product-id="<%= product.id %>" 
				data-product-name="<%= product.name %>"
				data-price="<%= product.unit_price %>"
				id="button">Add to Cart</button>
			</div>
		</div>
	<% end %>
	</div>


