<!DOCTYPE html>
<html>
	<head>
	  <title>The Internet's Longest Site!</title>
	  
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  
	  

	  <%= csrf_meta_tags %>
	</head>
	<body>

		<div class="header">
			<br />
			<table>
				<tr>
					<th id="topnile">Nile</th>
				</tr>
				<tr>
					<td id="tagline">Amazon may be the Largest, but Nile is the LONGEST!</td>
				</tr>
			</table>
			<p align="right">
				<% if user_signed_in? %>
					<font id="welcome">Hi, <%= current_user.email %></font><br />
					<%= link_to "Product Index", products_path %> | <%= link_to "Orders", orders_index_path %> | <%= link_to "Storefront", root_path %><br />
					<%= button_to "Sign Out", destroy_user_session_path, method:"delete", id:"funk"%>
				<% end %>
			</p>
		</div>

		<div>
			<%= notice %><br />
			<%= alert %><br />
		</div>

		<br />
		<%= yield %>
		
	</body>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>
