<!DOCTYPE html>
<html>
	<head>
	  <title>The Internet's Longest Site!</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<div class="header">
			<br />
			<table>
				<tr>
					<th id="topnile">Nile</th>
				</tr>
				<tr>
					<td id="tagline">Amazon may be the Largest, but Nile is the LONGEST!</td>
				</tr>
			</table>
			<br />
			<br />
			<br />
			<p align="right">
				<% if user_signed_in? %>
					<font id="welcome">Hi, <%= current_user.email %></font>
					<br />
					<%= button_to "Sign Out", destroy_user_session_path, method:"delete", id:"funk"%>
				<% else %>
					Not signed in
					<%= button_to	 "Sing In", new_user_session_path, method:"get", id:"funk" %>
				<% end %>
			</p>
		</div>

		<div>
			<%= notice %><br />
			<%= alert %><br />
		</div>

		<div class="middle">
			<br />
			<%= yield %>
		</div>
	</body>
</html>
