<!DOCTYPE html>
<html>
	<head>
	  <title>The Internet's Longest Site!</title>
	  
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  
	  

	  <%= csrf_meta_tags %>
	</head>
	<body>

		<div class="header">
			<div id="topnile">Nile</div>
			<div id="tagline">Amazon may the Largest, but Nile is the LONGEST!</div>
			<p align="right">
				<% if user_signed_in? %>
					<span id="welcome">Hi, <%= current_user.email %></span><br />
					<%= link_to "Product Index", products_path %> | <%= link_to "Orders", orders_index_path %> | <%= link_to "Storefront", root_path %><br />
					<%= button_to "Sign Out", destroy_user_session_path, method:"delete", id:"funk"%>
				<% end %>
			</p>
		</div>

		<div>
			<%= notice %><br />
			<%= alert %><br />
		</div>

		<div>
			<table id="categorybar">
				<tr>
					<td><%= link_to "All Of It!", store_index_path %></td>
					<% @categories.each do |cat| %>
						<td><%= link_to cat.name, products_by_category_path(cat.name) %></td>
    			<% end %>
  			</tr>
			</table>
		</div>

		<%= yield %>
		
	</body>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>
